@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    /* COLOR PALETTE*/
    --rasin-black: #272727;
    --buff: #d4aa7d;
    --sunset: #efd09e;
    --g-beige: #d2d8b3;
    --cadet-grey: #90a9b7;
    /*-------------------------------*/
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

.background {
  background-color: var(--rasin-black);
}

.navbar {
  display: flex; /* Enables Flexbox */
  justify-content: center; /* Center navbar horizontally */
  padding-top: 12px;
}

.navitems {
  display: flex; /* Enables Flexbox */
  justify-content: space-around; /* Distribute buttons evenly */
  align-items: center; /* Center buttons vertically */
  background-color: var(--buff); /* Optional: Set a background color */
  padding: 8px; /* Optional: Add some padding */
  border-radius: 20px;
  width: 700px;
  box-shadow: 5px 5px 15px 10px rgba(0, 0, 0, 0.3); /* Slightly spread shadow with black color */
}

/********************* NAV BUTTON STYLES ***********************/

.navbtn {
  display: flex; /* Enables Flexbox */
  border-radius: 5px;
  padding: 3px;
  padding-inline: 8px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.navbtn:hover {
  transform: scale(1.1); /* Scale the button by 10% */
}

/************** GALLERY STYLES *******************/
.heading {
  font-size: 32px;
}

.image {
  border-radius: 20px;
  overflow: hidden;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
